<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1 align="center">Calculator</h1>
<form align='center' action="arithresult">
    Enter 1st number : <input type="text" name="a"><br>
    Enter 2nd number : <input type="text" name="b"><br>
    <input type="submit" name="bt" value="+">
    <input type="submit" name="bt" value="-">
    <input type="submit" name="bt" value="*">
    <input type="submit" name="bt" value="/">
</form>
</body>
</html>