<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1 align="center">Registration</h1>
<form align='center' action="regpreview">
    Name : <input type="text" name="na"><br>
    Age : <input type="text" name="ag"><br>
    Language : <input type="radio" id="lang1" name="la" value="English">
                <label>English</label>
                <input type="radio" id="lang2" name="la" value="Kannada">
                <label>Kannada</label><br>
    E-mail id : <input type="text" name="em"><br>
    Password : <input type="password" name="pa"><br>
    Confirm Password : <input type="password" name="cp"><br>
    <input type="submit">
</form>
</body>
</html>